using Microsoft.AspNetCore.Mvc.RazorPages;
@using EventManagement.MVC.Models;
@using EventManagementSystem.DTO;
@model ResetPasswordDto;

<div class="container mt-5">

    <h2>Reset Password</h2>

    <form asp-action="ResetPassword"
          method="post">

        <div class="mb-3">
            <label>Token</label>

            <input asp-for="Token"
                   class="form-control" />
        </div>

        <div class="mb-3">
            <label>New Password</label>

            <input asp-for="NewPassword"
                   type="password"
                   class="form-control" />
        </div>

        <button class="btn btn-danger">
            Reset Password
        </button>

    </form>

</div>