.card img {
    height: 220px;
    object-fit: cover;
}

.card {
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
    }

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    transition: left 0.3s ease;
    padding-top: 20px;
    z-index: 1000;
}

    .sidebar h3 {
        color: white;
    }

    .sidebar a {
        display: block;
        color: white;
        padding: 15px 20px;
        text-decoration: none;
    }

        .sidebar a:hover {
            background-color: #495057;
        }

.show-sidebar {
    left: 0;
}

.main-content {
    padding: 20px;
}

.menu-btn {
    font-size: 24px;
    border: none;
    background: #0d6efd;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .menu-btn:hover {
        opacity: 0.9;
    }

.dashboard-card {
    border: none;
    border-radius: 18px;
    color: white;
    transition: all .35s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}

    .dashboard-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 18px 35px rgba(0,0,0,.25);
    }

    .dashboard-card .card-body {
        padding: 30px;
    }

    .dashboard-card h5 {
        font-weight: 600;
    }

    .dashboard-card h2 {
        font-size: 42px;
        font-weight: 700;
    }


.upcoming-card {
    background: linear-gradient( to right, #ee7724, #d8363a );
}

.registered-card {
    background: linear-gradient( to right, #d8363a, #dd3675 );
}

.notification-card {
    background: linear-gradient( to right, #dd3675, #b44593 );
}