<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet"
          href="~/css/dashboard.css" />

    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	
    <!-- FontAwesome JS-->
        <script defer src="~/assets/fontawesome/js/all.min.js"></script>

    <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="~/assets/css/theme.css">
</head>

<body>

    <div id="sidebar" class="sidebar">

        <h3 class="text-center mt-4">Lumievent</h3>

        <a asp-controller="Dashboard"
               asp-action="Index">
            Dashboard
        </a>

        <a asp-controller="Event"
               asp-action="Index">
            My Events
        </a>

        <a asp-controller="Profile"
               asp-action="Index">
            Profile
        </a>

        <a asp-controller="Auth"
               asp-action="Logout">
            Logout
        </a>

    </div>

    <div class="main-content">

        <button class="menu-btn"
                onclick="toggleSidebar()">
            ☰
        </button>

        @RenderBody()

    </div>

    <script>
            function toggleSidebar() {
                document
                    .getElementById("sidebar")
                    .classList.toggle("show-sidebar");
            }
    </script>

</body>
</html>